*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}


body{
    height: 100vh;
    
}
ul{
    list-style: none;

}


body main #container-img{
    height: 100vh;
    background-color: bisque;
    z-index: -3;
}   

body main #container-text{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
body main #container-text #infos-psico{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: aquamarine;
    height: 50vh;
    width: 20vw;
    margin-top: 20vh;
    text-align: center;
    
}

body main #container-text #infos-psico #psico-name{
margin-bottom: 40px;
}

#text-row{
    border: 2px solid;
}
 
#openning{
position: absolute;
height: 100vh;
width: 100vw;
background-color: gray;
z-index: 1;
}

