:root{
    --black-color: black;
    --load-color: rgb(165, 87, 42);
    --fundo-color: #cd6d30;
    --light-color: white;

}
@keyframes spin {
    to{
        transform: rotate(360deg);
    }from{
        transform: rotate(0deg);
    }
}
@keyframes show-confirmation {
    0%{   
        visibility: hidden;
        background-color: transparent;

    }

    100%{
        visibility: visible;
        background-color: var(--fundo-color);
    }
}

@keyframes background-transform {
    from{
        top: 0px;
    }
    to{
        top: -100vh;
    }
}

@keyframes hiddenBoard {
    0%{
        background-color: var(--load-color);
    }
    100%{
        background-color: #cd6d30;
    }
}
@keyframes slideUp {
    100%{
        margin-bottom:0vh;
        visibility: visible;
        

    }
    40%{
        margin-bottom: -60vh;
        visibility: hidden;
    }
}

@keyframes slideUpLetters {
    100%{
        margin-bottom:20vh;
        visibility: visible;
        

    }
    40%{
        margin-bottom: -60vh;
        visibility: hidden;
    }
}
@keyframes turnWhite{
    100%{
        color: var(--light-color);
    }45%{
        color: transparent;
    }
    0%{
        color: transparent;
    }
}
@keyframes turnBrown{
    100%{
        color: antiquewhite;
    }95%{
        color: transparent;
    }
    0%{
        color: transparent;
    }
}
@keyframes teste {
    
}



*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}


body{
    height: 100vh;
    max-height: 100vh;
    
    overflow: hidden;
}
ul{
    list-style: none;

}


body main #container-img{
    height: 100vh;
    background-color: black;
    z-index: -3;
}   

body main #container-text{
    z-index: 5;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
ain #container-text #infos-psico .more{
    position: absolute;
    display: flex;
    animation-name: slideUp;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-fill-mode:forwards;

}

main #container-text #infos-psico{
    position: absolute;
    display: flex;
    animation-name: slideUp;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-fill-mode:forwards;

    min-width: 30vw;
    visibility: hidden;
    animation-timing-function: linear;
    flex-direction: column;
    justify-content: space-between;
    height: 85vh;
    width: 100vw;

    text-align: center;
    
}
main #container-text #infos-psico #text-row{

    word-wrap: normal;
    border: 2px red solid;
    width: 100vw;
    height: 50vh;
    min-height: 40vh;
    overflow: hidden;
    display: flex;
    justify-content: center;


}
main #container-text #infos-psico #text-row ul .texts-presentation-letter{
    position: relative;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    letter-spacing: -1.3px;


}
main #container-text #infos-psico #more{
    margin-top: -5vh;
    font-size: 4vmin;
    animation-delay: 2.5s;
}


main #container-text #infos-psico #arrow-down{
    border: 3px solid var(--light-color);
    font-size: 4vh;
    color: var(--light-color);
    width: 15vh;
    height: 15vh;
    padding-top: 4.5vh;
    animation-delay: 2.8s;
   
}



#text-row{
    border: 2px solid;
}
/*
loading remover heith
*/
#openning{
position: absolute;
display: flex;
justify-content: center;
align-items: center;

height: 0vh;
width: 100vw;

background-image: url('./assets/img/bg-front.webp');
background-size: contain;


animation-name: background-transform;
animation-duration: 0.6s;
animation-delay: 1.4s;
animation-fill-mode: forwards;

}

#retangulo{
    width: 250px;
    height: 56px;
    background-color: var(--load-color);
    border-radius: 0.25rem;
    display: inherit;
    justify-content: center;
    align-items: center;
    position: relative;


    animation-name: hiddenBoard;
    animation-duration: 0.7s;
    animation-delay: 0.7s;
    animation-timing-function:ease-in-out;
    animation-fill-mode: forwards;


}

#loading-spiner{
    width: 24px;
    height: 24px;
    border: 3px solid #000000;
    border-radius: 50%;
    border-bottom-color: transparent;
    /*
    animation: spin 1s linear infinite;
    
    */
    animation-name: spin;
    animation-duration: 0.8s;
    animation-iteration-count: 1.7;
    animation-timing-function:ease-in-out;
}

main #openning #retangulo #check{
    position: absolute;
    width: 32px;
    height: 32px;
    visibility: hidden;


    animation-name: show-confirmation;

    animation-duration: 1ms;
    animation-timing-function: linear;
    animation-delay: 1.2s;
    background-color: transparent;
    animation-fill-mode: forwards;


    
}
#light-ch{
    color: transparent;
    animation-name: turnBrown;
    animation-duration: 1s;
    animation-delay: 0.5;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.texts-presentation{
    color: transparent;
    animation-name: turnWhite;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.texts-presentation-letter{
    animation-name: slideUpLetters;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;

    color: transparent;
    animation-name: turnWhite;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
} 

#infos-psico ul{
    position: absolute;
    border: 2px rgb(211, 219, 211) solid;
    height: 50vh;
    min-height: 40vh;
    min-width: 100vw;
    padding-bottom: 27vh;
    display: flex;
    overflow: scroll;
    scrollbar-width: none;
    flex-direction: column;
    font-size: 10vmin;
    gap: 40vh;


    
}

#infos-psico ul::-webkit-scrollbar {
    display: none;
}

.margin-b{
    margin-bottom: 50vh;
}


@media screen and (width:560px) {
    .texts-presentation-letter{
        font-size:50em;
    }
}